/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/error_log
/app/error_log
/composer.lock
/web/app_dev.php
/web/config.php
/web/error_log
/debug
/web/assetic/
/web/js/
/web/upload/*
/web/dumps/