{% extends "::base.html.twig" %}

{% block title %}Eye3CaminosBundle:Mapa:index{% endblock %}

{% block body %}
   
<div class="row">
				<div class="col-12">
					<div class="page-header"><h1>Mapa </h1></div>
				</div>
</div>

{{ google_map_container(map) }}
{{ google_map_js(map) }}

{% endblock %}
